.navbar {
  display: flex;
  justify-content: space-between;
  height: 30px;
  padding: 2%;
  background: #19456b;
}

.navbarHeader {
  color: white;
  font-weight: 700;
  margin-left: 15%;
  letter-spacing: 0.3ch;
}

@media only screen and (max-width: 1445px) {
  .navbarHeader {
    margin-left: 20%;
  }
}
@media only screen and (max-width: 1083px) {
  .navbarHeader {
    margin-left: 10%;
  }
}
