.navbar {
  display: flex;
  justify-content: space-between;
  margin-left: 13%;
  /* width: 96%; */
  height: 30px;
  padding: 2%;
  background: #19456b;
}

.navbarHeader {
  color: white;
  font-weight: 700;
  letter-spacing: 0.3ch;
}

.navbarSelect {
  margin-right: 10%;
  width: 30%;
  border-radius: 5%;
}
