.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 200px;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  background: #eee;
  padding: 8px 0;
}

.sidebar h1 {
  margin-top: -5rem;
  display: flex;
  justify-content: center;
}
.sidebarContent {
  display: flex;
}
.icon {
  margin-top: 0.2rem;
  margin-left: 0.6rem;
  margin-right: 1rem;
}

.sidebarContent a {
  text-decoration: none;
  color: #2196f3;
  display: block;
}

.sidebarContent a:hover {
  color: #064579;
}

@media only screen and (max-width: 1083px) {
  .sidebar {
    display: none;
  }
}
